

.coin-app {
  padding-top: 60px;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  width: 900px;
  border-bottom: 1px solid #d7d7d7;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-bottom: 10px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coin-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  border-bottom: 1px solid #d7d7d7;
}
.coin-button:hover {
  cursor: pointer;
}

.coin-watchlist {
  margin: 0;
}

.coin-pagination ul {
  width: 70%;
  margin: 1em auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.coin-pagination ul li {
  margin: 1em 0;
  list-style-type: none;
}

.coin-page-link {
  color: #d7d7d7;
  padding: 1em;
  border: 1px solid #d7d7d7;
}

.coin-input {
  padding: 10px;
  border: 5px solid #1976d2;
  border-radius: 20px;
  box-shadow:0 0 15px 4px rgba(25, 118, 210, 0.5);
}

.coin-input:focus {
  outline: none;
  padding: 10px;
  border: 5px solid #0057ad;
  border-radius: 20px;
}