

.coin-app {
  padding-top: 60px;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coin-button {
  color: white;
  background-color: black;
  border: none;
  margin-left: 15px;
}

.coin-button:hover {
  cursor: pointer;
}

.coin-watchlist {
  display: inline-block;
  text-align: left;
}