#appbar {
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.linkbar {
  text-decoration: none;
  color: white;
  padding: 30px;
  transition: 0.3s;
}


.linkbar:hover {
  color: #d6b763;
}

#logo {
  margin-left: 100px;
  flex-grow: 4;
}